/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-regular.ttf") format("truetype");
}
/* roboto-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-700.ttf") format("truetype");
}
/* play-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2"),
    url("../fonts/play-v19-latin-regular.ttf") format("truetype");
}
/* play-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2"),
    url("../fonts/play-v19-latin-700.ttf") format("truetype");
}

:root {
  --color-brand: #2b7fff;
  --color-primary-dark: #011c44;
  --color-primary-light: #ffffff;
}

/* Base */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
/* Link */
.header-link {
  color: var(--color-primary-dark);
  text-decoration: none;
}

.header-link:hover {
  color: var(--color-brand);
}

.footer-link {
  color: var(--color-primary-light);
  text-decoration: none;
}
/* Button */
.button-primary {
  padding: 16px 32px;
  margin-bottom: 14px;
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 32px;
  cursor: pointer;
  font-weight: 700;
}

.button-secondary {
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 32px;
  cursor: pointer;
  font-weight: 700;
}

.button-primary:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
}

.button-secondary:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
}

.down-info-button {
  color: #4a4a4a;
  font-size: 12px;
  line-height: 1.5;
}
.down-info-button2 {
  color: #747272;
  font-size: 12px;
  line-height: 1.5;
}

/* Header */

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}
/* Hero section */

.hero-section {
  padding: 106.6px 0 126.81px 0;
  background-image: url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  max-width: 529px;
}

.hero-title {
  margin: 16px 0 40px 0;
  color: var(--color-brand);
  font-family: "Play", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 140px;
  line-height: 0.8;
}

/* about-us */

.container-about-us {
  display: flex;
  gap: 28px;
}

.container-about-us-photo {
  display: flex;
  flex-direction: column;
}

.girl-before {
  display: flex;
  align-items: flex-start;
}

.girl-after {
  display: flex;
  align-items: flex-start;
}

.container-about-us-text {
  max-width: 709px;
}

.section-title {
  padding: 48px 0;
}

.section-title-about-us {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
}

.photo-about-us {
  border-radius: 327px;
}

.section-title-about-us span {
  text-transform: capitalize;
}

.section-about-us-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.7;
}

.section-about-us-text-1 {
  padding-bottom: 40px;
}

.section-about-us-text .text-about-us {
  color: var(--color-primary-dark);
  text-transform: capitalize;
}

.section-title span {
  color: var(--color-brand);
}
/* why-us */

.section-title-why-us {
  padding: 128px 0 48px 0;
  font-family: "Play", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 64px;
  line-height: 1.2;
}

.advantages-list {
  display: flex;
  gap: 56px;
  justify-content: center;
}

.advantages {
  color: #000000;
  line-height: 1.3;
  text-align: center;
}
.advantages-card {
  border: #a8c6f561;
  width: 316px;
  height: 181px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px #a8c6f561;
  border-radius: 32px;
}

.icon-adv {
  max-width: 48;
  max-height: 48;
  padding-left: 134px;
  padding-right: 134px;
}
/* our-procedures */
.procedures-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.formats-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.formats-item {
  flex-basis: calc((100%) / 3);
  flex-wrap: wrap;
}

.photo-procedures {
  background-image: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    #011c44 101.39%
  );
}

.photo-card {
  border-radius: 120px, 4px, 120px, 4px;
}

.section-title-our-procedures {
  padding: 0 0 48px 0;
  font-family: "Play", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 64px;
  line-height: 1.2;
}

.face-mask {
  color: transparent;
  font-size: 22px;
}

.face-mask:hover {
  color: var(--color-primary-light);
}

.arrow-icon-button {
  border: 0.77px solid var(--color-primary-dark);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.arrow-icon-button:hover {
  background-color: var(--color-brand);
  background-image: url(../images/Arrow\ 2.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0.77px solid var(--color-brand);
}

.arrow-icon:hover {
  display: flex;
  padding: 0;
  justify-content: center;
  visibility: hidden;
}
/* contact */
.contact-section {
  padding-bottom: 96px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}

.section-contact-title {
  padding: 48px 0 48px 0;
  font-family: "Play", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 64px;
  line-height: 1.2;
}

.section-contact-title-regist {
  color: var(--color-primary-light);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
}
/* Footer */
.footer {
  padding: 32px 0;
}

.footer-logo {
  flex-grow: 1;
}

.footer-menu {
  flex-grow: 1;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-address-1 {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.address-list {
  flex-grow: 1;
}

.footer-info {
  flex-grow: 1;
}

.footer {
  background-color: #011c44;
}

.footer-address {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
}

.privacy-policy {
  color: var(--color-primary-light);
  font-size: 16px;
}

.data-is-protected {
  color: #747272;
  font-size: 13px;
}
